(
  axes: {
  },
  actions: {
    "up": [[Key(Up)]],
    "down": [[Key(Down)]],
    "right": [[Key(Right)]],
    "left": [[Key(Left)]],
    "charisma": [[Key(C)]],
    "magic": [[Key(M)]],
    "power": [[Key(P)]],
    "restart": [[Key(R)]],
    "help": [[Key(F1)]],
  },
)